@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-50;
}

.active {
  @apply bg-green-700 text-green-50 rounded-md drop-shadow-md py-1 px-2 w-full block;
}

.sidebarActive {
  @apply bg-stone-900 rounded-sm drop-shadow-md text-stone-50;
}

.notActive {
  @apply bg-stone-500;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
